body{    background-color: #ffffff;
}
.pdf-page input::-webkit-outer-spin-button,.pdf-page input::-webkit-inner-spin-button{    display:none;
    -webkit-appearance:none;
    margin:0
}
.pdf-page ::selection{    background:rgba(0,100,255,.3)
}
.pdf-page ::-moz-selection{    background:rgba(0,100,255,.3)
}
.pdf-page{    background-color:#fff;
    display:block;
    width:100%;
    overflow:hidden
}
.pdf-page .pdf-page-inner{    transform-origin:0 0;
    transform:scale(1);
    background-repeat:no-repeat;
    background-size:contain
}
.pdf-page-text{    width:100%;
    height:100%;
    padding:0;
    margin:0;
    box-sizing:content-box;
    position:absolute
}
.pdf-page-annots{    width:100%;
    height:100%;
    padding:0;
    margin:0;
    box-sizing:content-box;
    position:absolute;
    pointer-events:none
}
.pdf-page-text div{    position:absolute;
    display:block
}
.pdf-obj-fixed span{    padding:0;
    margin:0;
    cursor:text;
    color:transparent;
    font-family:sans-serif;
    direction:ltr;
    white-space:nowrap;
    text-shadow:none
}
.pdf-page .pdf-obj-fixed{    display:block;
    position:absolute;
    box-sizing:border-box
}
.pdf-page .ff-ss{    font-family:sans-serif
}
.pdf-page .ff-s{    font-family:serif
}
.pdf-page .ff-m{    font-family:monospace
}
.pdf-page .acroform-field{    background-color:rgba(210,230,250,.29);
    border:none;
    pointer-events:auto
}
.pdf-page .pdf-annot{    pointer-events:auto
}
.pdf-page textarea{    resize:none;
    overflow:hidden;
    padding:0 0
}
.pdf-page input{    padding:0 0
}
.pdf-page select{    padding:0 0
}
.pdf-page.responsive{    text-align:left
}
.pdf-page.responsive p{    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
    margin:0 0 0 0
}
.pdf-page.responsive .aleft{    text-align:left
}
.pdf-page.responsive .aright{    text-align:right
}
.pdf-page.responsive .acenter{    text-align:center
}
.pdf-page.responsive .atop{    vertical-align:top
}
.pdf-page.responsive .abottom{    vertical-align:bottom
}
.pdf-page.responsive .amiddle{    vertical-align:middle
}
.pdf-page.responsive .pde-table{    overflow-x:auto;
    margin:.3em 0 .7em 0;
    padding-right:1px;
    max-width:100%
}
.pdf-page.responsive .pde-text{    margin:.3em 0 .7em 0
}
.pdf-page.responsive table{    width:100%;
    border-width:0;
    border-style:solid;
    border-color:#000;
    border-collapse:collapse;
    padding:1px
}
.pdf-page.responsive td.bl{    border-left-width:1px;
    border-left-style:solid
}
.pdf-page.responsive td.br{    border-right-width:1px;
    border-right-style:solid
}
.pdf-page.responsive td.bt{    border-top-width:1px;
    border-top-style:solid
}
.pdf-page.responsive td.bb{    border-bottom-width:1px;
    border-bottom-style:solid
}
.pdf-page.responsive td{    padding:5px;
    vertical-align:top
}
.pdf-page.responsive{    font-size:14px;
    line-height:1.2
}
.pdf-page.responsive{    background-color:#fff;
    font-weight:400;
    line-height:1.45;
    color:#000
}
.pdf-page.responsive .title{    font-size:250%
}
.pdf-page.responsive .dropcap{    float:left;
    font-weight:bold;
    font-size:60px;
    line-height:55px;
    padding-top:4px;
    padding-right:8px;
    padding-left:2px
}
.pdf-page.responsive .pde-line{    display:block;
    height:1px;
    margin:.3em 0 .7em 0
}
.pdf-page.responsive table{    font-size:90%
}
.pdf-page.responsive table p{    font-size:inherit
}
.pdf-page.responsive table .pde-text{    margin:0 0 0 0
}
.pdf-page.responsive table .pde-image{    padding-top:0;
    padding-bottom:0;
    max-width:100%
}
.pdf-page.responsive .pde-image{    max-width:100%;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px
}
.pdf-page.responsive .pde-image-inner{    background-repeat:no-repeat;
    background-size:contain
}
.pdf-page.responsive .pde-image-childs{    width:100%;
    height:100%
}
.pdf-page.responsive .pde-image img{    max-width:100%
}
.pdf-page.responsive .pde-rect{    max-width:100%;
    margin-bottom:5px;
    margin-top:5px
}
.pdf-page.responsive .pde-rect-inner{    padding:5px
}
.pdf-page h1,h2,h3,h4{    font-weight:inherit;
    line-height:1.2
}
.pdf-page.responsive h1{    font-size:210%
}
.pdf-page.responsive h2{    font-size:180%
}
.pdf-page.responsive h3{    font-size:130%
}
.pdf-page.responsive h4{    font-size:120%
}
.pdf-page.responsive small,.font_small{    font-size:80%
}
.pdf-page.responsive.table h1,h2,h3,h4{    margin:0 0 0
}
.pdf-page.responsive ul{    list-style-type:none;
    margin:0;
    padding:0
}
.pde-image-float{    float:left;
    margin-right:10px
}
.pdf-clear-float{    content:"";
    visibility:hidden;
    display:block;
    height:0;
    clear:both
}

.customFontFamily
{font-family:'Chrome Sans','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;}

.fontWeight800
{font-weight: 800;}

.fontStyleItalic
{font-style: italic;}

.borderTopCustom{border-top: 0.199px solid #000000 ;}
.textAlignCenter{text-align: center;}
.paddingLeft75{padding-left:25%;}
.whiteSpaceNoWrap{white-space: nowrap;}