			*{
				font-family: 'Open Sans', sans-serif;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			body{
				width:100%;
				margin:auto;
			}

            body > div {
                float:left;
                margin:auto;
                width:100%;
            }

			a:link{
				color:rgb(56, 12, 56);
				text-decoration: none;
			}

			#mnHdrDiv div{
				margin-top:3%;
				margin-bottom:3%;
			}
			#hdrDiv{
				text-align:center;
			}	
			#nmDiv{
				text-transform: uppercase;
				font-size:40px;
			}
			#hdrlnksDiv{
				width:100%;
				/*background-color:#3c353a;*/
				padding:4px;
			}
			#hdrlnksDiv > ul{
				list-style-type:none;
				min-height:60px;
				width:100%;
			}	
			/*#hdrlnksDiv > center > ul > li{
				display:inline-block;
				margin:0;
			}
			#hdrlnksDiv > center > ul > li >a:link{
				text-decoration:none;
				color:gray;
				text-transform: uppercase;
				min-height:30px;
				padding:20px;
				text-align:center;
			}
			#hdrlnksDiv > center > ul > li >a:link:hover{
				color:black;
				text-decoration:underline;
			}*/




			/*#hdrlnksDiv > center > nav{
				display:inline-block;
				margin:0;
			}*/

			#hdrlnksDiv > nav >a:link{
				text-decoration:none;
				/*color:gray;*/
				text-transform: uppercase;
				min-height:30px;
				padding:20px;
				text-align:center;
			}

			#hdrlnksDiv > nav > a:link:hover{
				color:black;
				/*text-decoration:underline;*/
				border-bottom:5px solid gray;
			}

			.floatLeft{
				float:left;
			}

			.floatRight{
				float:right;
			}

			#contentDiv{
				display:flex;
				margin:auto;
                margin-top:40px;
				width:75%;
                overflow-y: hidden;
                float:none;
                text-align: justify;
			}

			#contentDiv > div {
				/*width:100%;
                overflow-y: hidden;
                display:inline-block;*/
			}

			#photoDiv{
				background-image:url('images/photo.jpg');
				border-radius:50%;
				width:150px;
				height:150px;
				background-size:contain;
				background-repeat: no-repeat;
				margin-right:50px;
			}

			#introDiv{
				line-height:35px;
				clear:right;
			}

			#introDiv > p{
				margin-bottom: 30px;
			}

			#footer{
				/*position:fixed;
				bottom:0px;*/
				min-height:30px;
				/*background-color:rgba(56, 12, 56, 0.54);*/
				width:100%;
			}

			div.ftrIcnDv {
				/*background-size: contain;*/
				background-image: url('images/social.png');
				width:50px;
				height:50px;
				display:inline-block;
				margin-top:5px;
				background-repeat:no-repeat;
			}

			#fbFtrDiv{
				background-position-x: 5px;
				background-position-y: 0px;
			}

			#lnFtrDiv{
				background-position-x: -265px;
				background-position-y: 0px;
			}

			#ghFtrDiv{
				background-position-x: -158px;
				background-position-y: 0px;
			}

			#igFtrDiv{
				background-position-x: -375px;
				background-position-y: 0px;
			}

			#twFtrDiv{
				background-position-x: -50px;
				background-position-y: 0px;
			}
            .clearBoth{
                clear:both;
            }

            .underLine{
                text-decoration: underline;
            }

#pdfDiv{
margin:auto;
padding-bottom:5%;
}
			#linkPdf{
				display:block;
				z-index:0;
				width:105px;
				height: 20px;
				padding: 30px;
				color: white;
				font-weight:bold;
				/*background-color: cornflowerblue;*/
				background-color:rgba(56, 12, 56, 0.54);
				border-radius:3px;
				margin:auto;
			}

            #imgCntnrDiv{
                width:100%;
/*                height:400px !important;*/
		margin-bottom:1%;
            }

            #imgDiv{
                background-image:url('images/IMG_0267.JPG');
		width:100%;
                height:300px;
		background-size:cover;
		background-repeat:no-repeat;
		position:relative;
            }

#labelDiv{
width:300px;
display:flex;
position: absolute;
left:38%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

div.label{
display:inline-block;
vertical-align:center;
text-align:center;
color:white;
font-weight:bold;
border:5px solid white;
margin-left:5px;
margin-right:5px;
float:left;
width:300px;
background-color:gray;
cursor:pointer;
}


#prjHldr{
/*	width:80%;*/
	margin:auto;
}

div.prjDiv{
	min-height:30%;
	width:24%;
	margin:50px;
	float:left;
	text-align:center;
}

div.prjDiv  h3{
	color:#6a2576;
}

div.prjDiv  img{
	display:block;
	width:100px;
	height:100px;
	margin:auto;
	margin-bottom:40px;
}

#afflDiv h3{
margin:auto;
}

div.afflHdrDiv{
/*float:left;*/
margin:auto;
text-align:center;
}

div.cmpnyDiv, div.orgDiv{
	min-height:30%;
	width:24%;
	margin:50px;
	float:left;
	text-align:center;
}

div.cmpnyDiv  h3, div.afflHdrDiv h3{
	color:#6a2576;
}

div.cmpnyDiv  img{
	display:block;
	width:200px;
	height:100px;
	margin:auto;
	margin-bottom:40px;
}

div.orgDiv  img{
	display:block;
	width:100px;
	height:100px;
	margin:auto;
	margin-bottom:40px;
}

#cntctDiv{
margin:50px;
margin-left:30%;
margin-right:30%;
}


#cntctDiv p{
margin:auto;
}
video{
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}